.draw {

}

.box {

}

.page {

}

body {
    font-family: 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.container-fluid > nav {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}

.tab-content {
    margin-bottom: 20px;
}

.table-bordered {
    margin-top: -1px;
    border-top-width: 0;
    min-height: 500px;
}

.tab-content > .active {
    display: flex;
}

.tab-pane > div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.tab-widget{
    width: 100%;
    display: block;
}